$red: hsl(1, 90%, 64%); 
$blue: hsl(219, 85%, 26%);

$white: hsl(0, 0%, 100%); 
$veryLightGrayBlue: hsl(210, 60%, 98%); 
$lightGrayBlue01: hsl(211, 68%, 94%); 
$lightGrayBlue02: hsl(205, 33%, 90%); 
$grayBlue: hsl(219, 14%, 63%); 
$darkGrayBlue: hsl(219, 12%, 42%); 
$veryDarkBlue: hsl(224, 21%, 14%); 

$font-size: 1rem; 
$font-stack: Plus Jakarta Sans, sans-serif; 
$fw-bold: 500; 
$fw-veryBold: 800; 

%link { 
    font-weight: $fw-veryBold; 
    text-decoration: none;
    &:hover{ 
        color: $blue; 
    }
}

body{
    min-height: 100vh; 
    background-color: $veryLightGrayBlue;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{ 
    font-family: $font-stack; 
    width: min(90%, 800px);  
    background-color: $white; 
    border-radius: 10px;  
    nav{ 
        display: flex; 
        flex-direction: row; 
        justify-content: space-evenly; 
        align-items: center;
        
        h1{  
            font-size: 1.25rem;  
            color: $veryDarkBlue; 
            span{ 
                background-color: $blue; 
                color: $white; 
                padding: 0.25rem 0.65rem;
                border-radius: 10px; 

                font-size: $font-size; 
            }
        }

        p{ 
            font-size: $font-size; 
            color: $darkGrayBlue; 
            cursor: pointer; 

            &:hover{ 
                color: $blue;
            }
        }
    }
}

section{

    &.text__wrapper{ 
        display: flex; 
        flex-direction: row;
        gap: 1rem;  
        margin: 1rem; 
        padding: 1rem; 
        font-size: 0.85rem;  
    
        &.newNotification{
            background-color: $veryLightGrayBlue;
            border-radius: 10px;

            div p:first-child{ 
                .dot{ 
                    display: inline-block; 
                    background-color: $red;
                    border-radius: 50%;  
                    width: 10px; 
                    height: 10px; 
                    margin-left: 1rem; 
                }
            }
        
        }
        img{  
            height: 50px; 
            object-fit: contain;
        }
    
        .text__container{ 
            display: flex; 
            flex-direction: column; 
            text-align: left; 
    
            p{
                
                color: $darkGrayBlue; 
                margin: 0;
                line-height: 1.5;  
                .post__author{ 
                    @extend %link; 
                    color: $veryDarkBlue; 
                    font-weight: $fw-veryBold; 
                    cursor: pointer;
                }
                a.post__link, a.post__group{ 
                    @extend %link; 
                    color: $darkGrayBlue; 
                    cursor: pointer; 
                }
            }
            
          
            p.post__time{ 
                color: $grayBlue; 
            }
            p.message__container{ 
                border: 1px solid $lightGrayBlue02; 
                border-radius: 5px;
                margin-top: 1rem; 
                padding: 1rem; 

                &:hover{ 
                    background-color: $veryLightGrayBlue; 
                    cursor: pointer;
                }
            }
        }

        .container{ 
            display: flex; 
            flex-direction: row; 
            justify-content: space-between;
            width: 100%; 
        }
    }

}

